<link rel="stylesheet" href="css/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3>Nuestra Promoción</h3>
            <p>Un espacio para recordar los mejores momentos de nuestra etapa escolar.</p>
        </div>
        <div class="footer-section">
            <h3>Enlaces Rápidos</h3>
            <a href="dashboard.html">Inicio</a>
            <a href="profesores.html">Profesores</a>
            <a href="colegio.html">Colegio</a>
        </div>
        <div class="footer-section">
            <h3><i class="fa-regular fa-address-book"></i>  Contacto</h3>
            <p><i class="fa-regular fa-envelope"></i>  demetrio7000@gmail.com</p>
            <p><i class="fa-solid fa-phone"></i>  950401090</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p><i class="fa-regular fa-copyright"></i>  Promoción 2000 - Todos los derechos reservados</p>
    </div>
</footer>

