<link rel="stylesheet" href="css/menu.css">
<nav class="menu-container">
    <ul class="menu">
        <li class="menu-item active" data-page="dashboard.html">Inicio</li>
        <li class="menu-item" data-page="alumnosA.html">Alumnos A</li>
        <li class="menu-item" data-page="alumnosB.html">Alumnos B</li>
        <li class="menu-item" data-page="alumnosC.html">Alumnos C</li>
        <li class="menu-item" data-page="profesores.html">Profesores</li>
        <li class="menu-item" data-page="colegio.html">Colegio</li>
        <li class="menu-item" data-page="recuerdos.html">Recuerdos</li>
    </ul>
</nav>

